@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

.login-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 380px;
  height: 250px;
  position: absolute;
  top: 80px;
  right: 100px;
  border-radius: 10px;
}

#close-icon {
  position: absolute;
  padding-top: 2%;
  right: 10px;
  color: black;
  font-size: 42px;
  z-index: 20;
  cursor: pointer;
}

#next-icon {
  position: relative;
  top: 92px;
  left: 40px;
  color: black;
  font-size: 42px;
  z-index: 20;
  cursor: pointer;
}

#login-input {
  box-shadow: none;
  width: 270px;
  height: 35px;
  border: 2px solid rgb(160, 160, 160);
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
  text-indent: 5px;
  margin-top: 10px;
}

#login-form-left {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 20px;
  left: 30px;
}

#login-form {
  display: flex;
  flex-direction: row;
}
