.new-event.content {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list {
    padding-left: 0;
    padding-right: 0;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box {
    width: 80px;
}

.card-deed {
    background-color: blanchedalmond !important;
    width: 80px !important;
    height: 80px !important;
}

.test-format {
    max-width: 100%;
    /* color: red; */
    max-height: 100%;
    margin-bottom: 0%;
}